.details {
  margin-top: 128px;
}

.desc {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.info {
  min-width: 200px;
  max-width: 300px;
  width: auto;
}

.summary {
  max-width: 900px;
  height: 100%;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.showtimes {
  margin-left: 75px;
  margin-bottom: 50px;
  list-style-type: circle; 
}

li {
  margin-top: 15px;
}